@import url(./normalize.css);
@import url(./utils.css);

/* Base */
:root {
  --header-height: 7dvh;
  --footer-height: 6dvh;
  --main-height: calc(100dvh - var(--header-height) - var(--footer-height));

  --primary: #FCA311;
  --background: #ffffff;
  --secondary: #e5e5e5;

  --dark-gray: #13213d;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
}

body {
  height: 100dvh;
}

/* Header */
header {
  height: var(--header-height);
  background-color: black;
  color: white;

  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

header ul a:hover {
  color: var(--primary);
}

header #header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header #header-title h1 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

header #header-title svg {
  width: 1.5rem;
}

main {
  min-height: var(--main-height);
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  --margin-top: 2dvh;

  height: calc(var(--footer-height) - var(--margin-top));
  margin-top: var(--margin-top);
  background-color: black;
  color: white;

  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.page-header {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1.25rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.page-header svg {
  position: absolute;
  left: -6rem;
  color: var(--primary);
}

.page-header h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
