@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<h2 id="dashboard-title">Welcome To Dashboard</h2>

<div class="dashboard">
    <div class="dashboard-section">
        <div>
            <p>Airports</p>

            <!-- https://icones.js.org/collection/all?s=airport&icon=mdi:airport -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                d="M14.97 5.92a.967.967 0 0 0-1.18-.68l-3.4.91l-4.44-4.12l-1.23.33l2.66 4.59l-3.19.85l-1.26-.98l-.93.25l1.66 2.88l10.62-2.84c.52-.15.82-.68.69-1.19M21 10l-1 2h-5l-1-2l1-1h2V7h1v2h2zm1 10v2H2v-2h13v-7h5v7z" />
            </svg>

            <p>@Model.AirportsCount</p>
        </div>

        <a href="/airport?showForm=True">Add New Airport</a>
    </div>

    <div class="dashboard-section">
        <div>
            <p>Airlines</p>

            <!-- https://icones.js.org/collection/all?s=baseline-airplanemode&icon=ic:baseline-airplanemode-active -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                d="M22 16v-2l-8.5-5V3.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5V9L2 14v2l8.5-2.5V19L8 20.5V22l4-1l4 1v-1.5L13.5 19v-5.5z" />
            </svg>

            <p>@Model.AirlinesCount</p>
        </div>

        <a href="/airline?showForm=True">Add New Airline</a>
    </div>

    <div class="dashboard-section">
        <div>
            <p>Flights</p>

            <!-- https://icones.js.org/collection/all?s=airplane-tick&icon=material-symbols:airplane-ticket -->
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                d="m8.927 15.42l8.708-2.312q.336-.081.533-.367t.117-.603t-.38-.447t-.617-.049l-2.526.689l-4-3.75l-1.054.234l2.4 4.2l-2.746.677l-1.25-.95l-.604.173zM19.385 19H4.615q-.67 0-1.143-.472Q3 18.056 3 17.385v-2.577q.883-.327 1.441-1.088Q5 12.96 5 12t-.559-1.72T3 9.192V6.615q0-.67.472-1.143Q3.944 5 4.615 5h14.77q.67 0 1.143.472q.472.472.472 1.143v10.77q0 .67-.472 1.143q-.472.472-1.143.472" />
            </svg>

            <p>@Model.FlightsCount</p>
        </div>

        <a href="/flight?showForm=True">Add New Flight</a>
    </div>
</div>
