.container {
  height: var(--main-height);
  justify-content: center;
  width: 50%;
}

#dashboard-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}

.dashboard {
  width: 100%;
  display: flex;

  /* flex-col md:flex-row; but can't be bothered to do responsivity with vanilla css */
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.dashboard-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  font-weight: 500;
  font-size: 1.2rem;

  padding: 1rem 4rem;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius-lg);
}

.dashboard-section div svg {
  width: 64px;
  height: 64px;
}

.dashboard-section a {
  width: 100%;
  display: block;
  margin-top: 0.5rem;

  background-color: var(--secondary);
  color: black;
  font-weight: 600;
  padding: 0.5rem 0;
  border-radius: var(--border-radius-lg);
  font-size: 0.95rem;
  text-align: center;
}
