﻿<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Airlines.Web - @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Airlines.Web.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/property-search.css" asp-append-version="true" />
</head>

<body>
  <header>
    <div id="header-title">
      <a href="/">
        <h1>Rise Airlines</h1>
      </a>
    
      <!-- https://icones.js.org/collection/all?s=plane&icon=bxs:plane-alt -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M3.414 13.778L2 15.192l4.949 2.121l2.122 4.95l1.414-1.414l-.707-3.536L13.091 14l3.61 7.704l1.339-1.339l-1.19-10.123l2.828-2.829a2 2 0 1 0-2.828-2.828l-2.903 2.903L3.824 6.297L2.559 7.563l7.644 3.67l-3.253 3.253z" />
      </svg>
    </div>
    
    <partial name="_DefaultNavigation" />
  </header>

  <main>
    <div class="container">
      @if(ViewData["HeaderTitle"] != null) 
      {
        <div class="page-header">
            <a href="/">
                <!-- https://api.iconify.design/material-symbols:arrow-left-alt-rounded.svg -->
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z" />
                </svg>
            </a>

            <h2>@ViewData["HeaderTitle"]</h2>
        </div>
      }

      @RenderBody()
    </div>

    <div class="go-top-button hidden">
      @* https://icones.js.org/collection/all?s=arrow&icon=material-symbols-light:arrow-drop-up *@
      <svg width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M8.192 13.5L12 9.692l3.808 3.808z"/></svg>
    </div>
  </main>

  <footer>
    <p>Rise Airlines 2024 &copy;</p>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/go-top-button.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
