@model Airlines.Business.DTO.AirlineDTO;

<fieldset class="form-container">
    <legend>Create New Airline</legend>

    @using(Html.BeginForm("create", "airline", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        <span asp-validation-for="Name" class="error-message"></span>

        @Html.LabelFor(m => m.Code)
        @Html.EditorFor(m => m.Code)
        <span asp-validation-for="Code" class="error-message"></span>

        @Html.LabelFor(m => m.FleetSize)
        @Html.EditorFor(m => m.FleetSize)
        <span asp-validation-for="FleetSize" class="error-message"></span>

        @Html.LabelFor(m => m.Founded)
        @Html.EditorFor(m => m.Founded)

        <button class="btn-primary" type="submit">Submit</button>
    }
</fieldset>
