@using Airlines.Business.DTO;
@model List<AirlineDTO>

@{
    ViewData["Title"] = "Airlines";
    ViewData["HeaderTitle"] = "Airlines";
}

@section scripts {
    <script src="~/js/expandable-table.js"></script>
    <script src="~/js/switchable-table.js"></script>
}

@{
    var searchFormModel = new PropertySearchModel
    {
        ControllerName = "airline",
        Properties = typeof(AirlineDTO).GetProperties().Select(x => x.Name).ToList()
    };
}

<partial name="_PropertySearch" model="searchFormModel" />

<table class="content-table expandable switchable" data-switch-with=".form-container" data-labels="Show Form,Show Table">
    <thead>
        <tr>
            <td>Name</td>
            <td>FleetSize</td>
            <td>Founded</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var airline in Model)
        {
            <tr>
                <td>@airline.Name (@airline.Code)</td>
                <td>@airline.FleetSize</td>
                <td>@airline.Founded</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Create", new AirlineDTO())

<button type="button" id="form-switch-btn" class="btn-primary"></button>
