@import url(./lib/base.css);

.content-table {
  border-collapse: collapse;
  min-width: 650px;
}

.content-table td,
.content-table th {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.content-table th {
  text-align: left;
  background-color: var(--secondary);
}

.form-container {
  border-radius: var(--border-radius-xl);
  padding: 1rem 2rem;
  min-width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input {
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-md);
}

.form-container form label {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

.btn-primary {
  border: none;
  padding: 0.5rem 6rem;
  font-weight: bold;
  font-size: 0.9rem;

  background-color: var(--primary);
  color: white;
  border-radius: var(--border-radius-md);

  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--dark-gray);
}

