.form-container {
  border-radius: var(--border-radius-xl);
  padding: 1rem 2rem;
  min-width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input {
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-md);
}

.form-container form label {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}
