/* App Header */
header {
  height: var(--header-height);
  background-color: black;
  color: white;

  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

header nav a:hover {
  color: var(--primary);
}

header #header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header #header-title h1 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

header #header-title svg {
  width: 1.5rem;
}

/* Page Header */
.page-header {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1.25rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.page-header svg {
  position: absolute;
  left: -6rem;
  color: var(--primary);
}

.page-header h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
