#property-search-form {
  display: flex;
  gap: 0;

  border: 1px solid var(--primary);
  border-radius: var(--border-radius-md);
}

#property-search-form select {
  border-right: 1px solid var(--primary);
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.04);
}

#property-search-form button {
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  padding-left: 0;
}

#property-search-form button svg {
  color: var(--primary);

  width: 1.5rem;
  height: 1.5rem;

  pointer-events: none;
}

#property-search-form > button, select, input {
  border-radius: 0;
  border: none;
  background: none;
  outline: none;
}

