@import url(./normalize.css);

@import url(./styles.css);
@import url(./header.css);
@import url(./form.css);
@import url(./table.css);

/* Base */
:root {
  --header-height: 7dvh;
  --footer-height: 6dvh;
  --main-height: calc(100dvh - var(--header-height) - var(--footer-height));

  --primary: #FCA311;
  --background: #ffffff;
  --secondary: #e5e5e5;

  --dark-gray: #13213d;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
}

body {
  height: 100dvh;
}

main {
  min-height: var(--main-height);
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  --margin-top: 2dvh;

  height: calc(var(--footer-height) - var(--margin-top));
  margin-top: var(--margin-top);
  background-color: black;
  color: white;

  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

