.container {
  width: min-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.btn-primary {
  border: none;
  padding: 0.5rem 6rem;
  font-weight: bold;
  font-size: 0.9rem;

  background-color: var(--primary);
  color: white;
  border-radius: var(--border-radius-md);

  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--dark-gray);
}

.btn-primary:disabled {
  filter: opacity(0.6);
  background-color: var(--primary);
  cursor: not-allowed;
}

.go-top-button {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;

  display: flex;
  place-items: center;
  justify-content: center;

  background-color: var(--primary);
  border-radius: 100%;
  color: white;
   
  height: 2.5rem;
  width: 2.5rem;
}

.go-top-button:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.hidden {
  display: none;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: -0.9rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}
