.content-table {
  border-collapse: collapse;
  min-width: 800px;
}

.content-table td,
.content-table th {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.content-table th {
  text-align: left;
  background-color: var(--secondary);
}
