@model Airlines.Business.DTO.FlightDTO;

<fieldset class="form-container">
    <legend>Add New Flight</legend>

    @using(Html.BeginForm("create", "airline", FormMethod.Post))
    {
        @Html.LabelFor(m => m.FlightNumber)
        @Html.EditorFor(m => m.FlightNumber)
        <span asp-validation-for="FlightNumber" class="error-message"></span>

        @Html.LabelFor(m => m.Airline.Name, "Airline Name")
        @Html.EditorFor(m => m.Airline.Name, "test")
        @* TODO: should be a dropdown with airlines instead of a text input *@

        @Html.LabelFor(m => m.From.Name, "Departure Airport Name")
        @Html.EditorFor(m => m.From.Name)
        @* TODO: should be a dropdown with airports instead of a text input *@

        @Html.LabelFor(m => m.To.Name, "Arrival Airport Name")
        @Html.EditorFor(m => m.To.Name)
        @* TODO: should be a dropdown with airports instead of a text input *@

        @Html.LabelFor(m => m.Departure)
        @Html.EditorFor(m => m.Departure)
        <span asp-validation-for="Departure" class="error-message"></span>

        @Html.LabelFor(m => m.Arrival)
        @Html.EditorFor(m => m.Arrival)
        <span asp-validation-for="Arrival" class="error-message"></span>

        <button type="submit" class="btn-primary">Create</button>
    }
</fieldset>
