@using Airlines.Business.DTO;
@model List<FlightDTO>;

@{
    ViewData["Title"] = "Flights";
    ViewData["HeaderTitle"] = "Flights";
}

@section scripts {
    <script src="~/js/expandable-table.js"></script>
    <script src="~/js/switchable-table.js"></script>
}

@{
    var searchFormModel = new PropertySearchModel
    {
        ControllerName = "flight",
        Properties = new List<string> { "FlightNumber", "Departure", "Arrival"  }
    };
}

<partial name="_PropertySearch" model="searchFormModel" />

<table 
    class="content-table expandable switchable" data-switch-with=".form-container" data-labels="Show Form,Show Table">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>Airline</th>
            <th>Path</th>
            <th>Departure</th>
            <th>Arrival</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.FlightNumber</td>
                <td>@flight.Airline.Name (@flight.Airline.Code)</td>
                <td>@flight.From?.City - @flight.To?.City</td>
                <td>@flight.Departure</td>
                <td>@flight.Arrival</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Create", new FlightDTO())

<button type="button" id="form-switch-btn" class="btn-primary"></button>
