@model Airlines.Business.DTO.AirportDTO;

<fieldset class="form-container">
    <legend>Add New Airport</legend>
    
    @using(Html.BeginForm("create", "airport", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        <span asp-validation-for="Name" class="error-message"></span>

        @Html.LabelFor(m => m.Code)
        @Html.EditorFor(m => m.Code)
        <span asp-validation-for="Code" class="error-message"></span>

        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City)
        <span asp-validation-for="City" class="error-message"></span>

        @Html.LabelFor(m => m.Country)
        @Html.EditorFor(m => m.Country)
        <span asp-validation-for="Country" class="error-message"></span>

        @Html.LabelFor(m => m.Runways)
        @Html.EditorFor(m => m.Runways)
        <span asp-validation-for="Runways" class="error-message"></span>

        @Html.LabelFor(m => m.Founded)
        @Html.EditorFor(m => m.Founded)

        <button class="btn-primary" type="submit">Create</button>
    }
</fieldset>
