@using Airlines.Business.DTO;
@model List<AirportDTO>;

@{
    ViewData["Title"] = "Airprots";
    ViewData["HeaderTitle"] = "Airports";
}

@section scripts {
    <script src="~/js/expandable-table.js"></script>
    <script src="~/js/switchable-table.js"></script>
}

@{
    var searchFormModel = new PropertySearchModel
    {
        ControllerName = "airport",
        Properties = typeof(AirportDTO).GetProperties().Select(x => x.Name).ToList()
    };
}

<partial name="_PropertySearch" model="searchFormModel" />

<table class="content-table expandable switchable" data-switch-with=".form-container" data-labels="Show Form,Show Table">
    <thead>
        <tr>
            <td>Name</td>
            <td>City, Country</td>
            <td>Runways</td>
            <td>Founded</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var airport in Model)
        {
            <tr>
                <td>@airport.Name (@airport.Code)</td>
                <td>@airport.City, @airport.Country</td>
                <td>@airport.Runways</td>
                <td>@airport.Founded</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Create", new AirportDTO())

<button type="button" id="form-switch-btn" class="btn-primary"></button>
